.info-section{
  margin:40px;
  padding:25px;
  background:#162033;
  border-radius:15px;
  color:white;
}

.info-section h2{
  color:#00d9ff;
  margin-bottom:15px;
}

.info-section p{
  font-size:18px;
  margin-bottom:15px;
}

.info-section ul{
  padding-left:20px;
}

.info-section li{
  margin-bottom:18px;
  line-height:1.6;
}

.info-section a{
  color:#00ff99;
  text-decoration:none;
  font-weight:bold;
}

.info-section a:hover{
  text-decoration:underline;
}

header{
  background:#162033;
  color:white;
  padding:15px 20px;
  display:flex;
  align-items:center;
  gap:15px;
  font-size:32px;
  font-weight:bold;
}

.logo{
  width:60px;
  height:60px;
  border-radius:50%;
  object-fit:cover;
}
